.App{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.div-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inputElem {
  padding: 5px;
  margin: 10px;
  width: 300px;
  height: 30px;
}

.btnElem {
  padding: 5px 15px;
  margin: 10px;
  background-color: black;
  color: white;
  border-radius: 3px;
  border: none;
  height: 30px;
}

.btnElem:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.showmoreBtn {
  padding: 5px 15px;
  background-color: transparent;
  font-size: 13px;
  border: none;
  color: rgb(2, 160, 252);
  text-decoration: underline;
  align-self: flex-end;
  margin-right : 100px;
  margin-bottom: 20vh;
}

.ul-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
  .div-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .inputElem {
    width: 90%;
    height: 30px;
  }

  .toast-container {
    width: 80%;
  }

  .showmoreBtn {
    margin-right : 20px;
    margin-bottom: 10vh;
  }
}
